<h1>
    Teoria general de sistemas
</h1>

<p>
    En este curso aprendo lo que son las organizaciones, entender el tema desde otros puntos de vista, sistemas complejos, adaptabilidad de las empresas, etc
</p>