<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        Cursos del 6to ciclo
    </header>
    <nav>
        <a href="/home/index">Home</a> |
        <a href="/home/programacion">programacion</a> |
        <a href="/home/ingenieriasoftware">Ingenieria de software</a>
        <a href="/home/ingenieriacostos">Ingenieria de costos</a>
        <a href="/home/investigacionoperativa">Investigacion operativa</a>
        <a href="/home/teoriasistemas">Teoria general de sistemas</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        Pie de pagina
    </footer>
</body>
</html>